*{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100; 
}
table,td,tr{
    text-align: center;
    border-collapse: collapse;
}
table{
    width: 100%;   
}
#cell{
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    color: black;
}
a:hover{
    color: hotpink;
}
a:active{
    color: red;
    scale: 1.1;
}
#navbar{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    border-bottom: none;
    align-items: end;
    color: black;
    margin-top: 1vh;
}
.under{
    text-decoration: none;
    color: black;
}
.secondrow{
    border-bottom: none;

}
#bottomb{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
#secrow{
    height: 8vh;
}
#icons div{
    display: inline-block;
    margin: 0.5vw;
}
#backgro{
    height: 60vh;
    width: 100%;
    background-image: url("banner-image-bg-1.jpg");
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#firsthead{
    height: 65vh;
    width: 30%;
    position: absolute;
    top: 10vh;
    right: 15%;
}
#firsthead img{
    height: 65vh;
    width: 100%;
}
#quote{
    height: 60vh;
    width: 50vh;
    position: absolute;
    top: 30vh;
    left: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#uni{
    color: black;
}
#btm{
    background-color: rgba(173, 19, 19,0.6);
    text-align: center;
    color: white;
    border-radius: 25px;
    border: none;
    height: 6vh;
    width: 175px;
}
#btm:hover{
    background-color: red;
    scale: 1.1;
}
#navbar a:hover{
    color: hotpink;
}              
#navbar a:focus{
    color:red;
}    
#shop{
    background-color: blue;
    color: azure;
    border-radius: 25px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    height: 48px;
    width: 134px;
}
footer{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    flex-wrap: wrap;
}
footer > div > p > a{
    color: black;
    text-decoration: none;
}
footer > div{
    width: 18%;
}
#f{
    display: flex;
    gap: 8%;
}
.footertext{
    position: relative;
    top: 25%;
    margin-bottom: 150px;
}
#quickLinks{
    left: 2%;
}
#last{
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 9px;
    padding-top: 15px;
    padding-bottom: 1px;
    font-size: 12px;
    height: 30px;
}
#ship{
    position: absolute;
    left: 28vh;
}
#payment{
    position: absolute;
    left: 50vh;
}
#copyright{
    position: absolute;
    right: 30vh;
}
.bi{
    color: rgb(80, 78, 76);
}
.bi:hover{
    color: hotpink;
}
.bi:active{
    color: red;
    scale: 1.2;
}
#colour{
    color: black;
}
#shop:hover{
    background-color: hotpink;
}
#shop > .bi{
    color: aliceblue;
}
#shop:active{
    background-color: red;
}
#contact > p > a{
    text-decoration: underline;
}
#icons>div:hover{
    cursor: pointer;
}
#seconddiv{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-sizing: border-box;
}
.insecond{
    width: 35%;
    height: 50vh;
    padding: auto;
}
.insecond > img{
    width: 100%;
    height: 100%;
}
#i1{
    width: 100%;
    height: 10vh;
}
#i2, #i3{
    display: flex;
    height: 20vh;
}
.i2a{
    width: 50%;
    height: 20vh;
}
#secdiv{
    padding-top: 2vh;
}
#firstdiv{
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: end;
    gap: 2%;
}
.infirst{
    width: 35%;
    height: 50vh;
}
#infirstout{
    display: flex;
    width: 100%;
    height: 30vh;
}
.indetails{
    width: 40%;
    height: 30vh;
    display: inline-block;
}
#name,#email{
    width: 49.5%;
    margin-bottom: 1vh;
}
#phone, #subject{
    width: 100%;
    margin-bottom: 1vh;
}
textarea{
    width: 100%;
}
#submit{
    width: 20%;
    background-color: rgba(255,0,0,.7);
    border-radius: 25px;
    border: 0;
    margin-top: 1.5vh;
    height: 4vh;
    color: aliceblue;
}
#submit:hover{
    background-color: red;
    scale: 1.1;
}
input:hover,input:focus,textarea:hover,textarea:focus{
    color: hotpink;
}
#firsthead > img:hover{
    scale: 1.01;
}
#navbar > a{
    font-size: 16px;
}